.form{
    position: relative;
    margin-left: 40%;
    margin-right: auto;
    display: flex;
    width: 283px;
    top:30px
}
.form form{
    border: solid 1px;
}
.submitb{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}


